body {
    padding: 0;
    margin: 0;
    background: rgb(0, 0, 0);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: rgb(181, 181, 192);
}

.description p {
    color: rgb(174, 156, 225);
    font-size: 1.3rem;
    line-height: 1.5;
}

h2 {
    color: white;
}

#todos {
    font-size: x-small;
}